detect-crop-classify-faces
[{"id":"3fe1f616.d3fe6a","type":"camera","z":"e43fb491.367af","name":"","x":247.66668701171875,"y":166.23809814453125,"wires":[["df23caa2.59503","76c958d8.24518","474b887d.80591"]]},{"id":"bdb9d0aa.6a3bb","type":"comment","z":"e43fb491.367af","name":"TRAINING your own classifiers","info":"build new Specific Classifier to be used.","x":350.83349609375,"y":721.3769645690918,"wires":[]},{"id":"875dce3f.3b5e3","type":"visual-recognition-util-v3","z":"e43fb491.367af","name":"create a classifier","apikey":"5c542d6b5bf9ffe9306826d4a349e822a3d199fb","image-feature":"createClassifier","x":756.2620849609375,"y":891.3769950866699,"wires":[["15b870c7.ebc767"]]},{"id":"82fc53c5.2c75a8","type":"visual-recognition-util-v3","z":"e43fb491.367af","name":"retrieve classifiers list","apikey":"5c542d6b5bf9ffe9306826d4a349e822a3d199fb","image-feature":"retrieveClassifiersList","x":752.2620849609375,"y":942.376989364624,"wires":[["15b870c7.ebc767"]]},{"id":"dc19b7ff.b7d488","type":"visual-recognition-util-v3","z":"e43fb491.367af","name":"retrieve classifier details","apikey":"","image-feature":"retrieveClassifierDetails","x":756.2620849609375,"y":988.3769950866699,"wires":[["15b870c7.ebc767"]]},{"id":"6e34ffd3.676108","type":"visual-recognition-util-v3","z":"e43fb491.367af","name":"delete a classifier","apikey":"","image-feature":"deleteClassifier","x":737.2620849609375,"y":1040.37699508667,"wires":[["15b870c7.ebc767"]]},{"id":"92c29abd.da3698","type":"inject","z":"e43fb491.367af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":303.83349609375,"y":760.3769645690918,"wires":[["18dedf3c.d2df09"]]},{"id":"3b9728a8.6ef9c","type":"inject","z":"e43fb491.367af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":314.2620849609375,"y":940.3769950866699,"wires":[["82fc53c5.2c75a8"]]},{"id":"caeb3d0a.3e4ef8","type":"inject","z":"e43fb491.367af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":313.2620849609375,"y":986.3769950866699,"wires":[["5ba34d44.e6e79c"]]},{"id":"62e6853d.6219cc","type":"inject","z":"e43fb491.367af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":314.2620849609375,"y":1033.37699508667,"wires":[["26f649dc.bb500e"]]},{"id":"18dedf3c.d2df09","type":"function","z":"e43fb491.367af","name":"set name","func":"msg.params={'name':'markus'};\nreturn msg;","outputs":1,"noerr":0,"x":447.83349609375,"y":760.3769645690918,"wires":[["30a26177.b3d1ce"]]},{"id":"15b870c7.ebc767","type":"debug","z":"e43fb491.367af","name":"","active":true,"console":"false","complete":"result","x":1008.5477905273438,"y":891.2341060638428,"wires":[]},{"id":"5ba34d44.e6e79c","type":"function","z":"e43fb491.367af","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers_576045825'};\nreturn msg;","outputs":1,"noerr":0,"x":529.7620849609375,"y":988.3769950866699,"wires":[["dc19b7ff.b7d488"]]},{"id":"26f649dc.bb500e","type":"function","z":"e43fb491.367af","name":"set classifier_id","func":"msg.params={'classifier_id':'retrievers_1305424883'};\nreturn msg;","outputs":1,"noerr":0,"x":522.7620849609375,"y":1039.37699508667,"wires":[["6e34ffd3.676108"]]},{"id":"25a0daeb.e121d6","type":"inject","z":"e43fb491.367af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":315.2620849609375,"y":1085.126989364624,"wires":[["f0086b06.47f728"]]},{"id":"f0086b06.47f728","type":"visual-recognition-util-v3","z":"e43fb491.367af","name":"delete All classifiers","apikey":"","image-feature":"deleteAllClassifiers","x":737.2620849609375,"y":1088.126989364624,"wires":[["15b870c7.ebc767"]]},{"id":"30a26177.b3d1ce","type":"dropbox","z":"e43fb491.367af","dropbox":"","filename":"/Upload/Faces/markuswals_positive.zip","name":"","x":335.3771667480469,"y":812.1863899230957,"wires":[["b9b57446.8dd0b8"]]},{"id":"b9b57446.8dd0b8","type":"change","z":"e43fb491.367af","name":"set positives","rules":[{"t":"set","p":"params.markuswals_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":598.1429748535156,"y":810.539623260498,"wires":[["132c19a3.d3205e"]]},{"id":"54d98cfc.5d501c","type":"dropbox out","z":"e43fb491.367af","dropbox":"","filename":"","localFilename":"","name":"","x":654.5557861328125,"y":166.2196044921875,"wires":[]},{"id":"76c958d8.24518","type":"function","z":"e43fb491.367af","name":"set file name","func":"    var now     = new Date(); \n    var year    = now.getFullYear();\n    var month   = now.getMonth()+1; \n    var day     = now.getDate();\n    var hour    = now.getHours();\n    var minute  = now.getMinutes();\n    var second  = now.getSeconds(); \n    if(month.toString().length == 1) {\n    var month = '0'+month;\n    }\n    if(day.toString().length == 1) {\n    var day = '0'+day;\n    }   \n    if(hour.toString().length == 1) {\n    var hour = '0'+hour;\n    }\n    if(minute.toString().length == 1) {\n    var minute = '0'+minute;\n    }\n    if(second.toString().length == 1) {\n    var second = '0'+second;\n    }   \n    var timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nglobal.set(\"filename\", timestamp + \".jpeg\");\n\nmsg.filename = \"/Upload/Faces/\" + timestamp + \".jpeg\";\nreturn msg;","outputs":1,"noerr":0,"x":454.19036865234375,"y":164.64019775390625,"wires":[["54d98cfc.5d501c","cb1a5683.01b7d8","108e3620.4702ea","7d96425b.8d357c"]]},{"id":"132c19a3.d3205e","type":"dropbox","z":"e43fb491.367af","dropbox":"","filename":"/Upload/Faces/markuswals2_positive.zip","name":"","x":337.57415771484375,"y":859.673412322998,"wires":[["47e56b73.deae64"]]},{"id":"47e56b73.deae64","type":"change","z":"e43fb491.367af","name":"set negatives","rules":[{"t":"set","p":"params.markuswals2_positive_examples","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":595.4075012207031,"y":850.562183380127,"wires":[["875dce3f.3b5e3"]]},{"id":"df23caa2.59503","type":"function","z":"e43fb491.367af","name":"Classify","func":"msg.params={};\nmsg.params[\"owners\"]=\"me\";\nmsg.params[\"classifier_ids\"]=\"markus_59409630\";\n\nreturn msg;","outputs":1,"noerr":0,"x":670.703857421875,"y":221.33050537109375,"wires":[["d87b82ac.8ba6e"]]},{"id":"d87b82ac.8ba6e","type":"visual-recognition-v3","z":"e43fb491.367af","name":"Face detection","apikey":"5c542d6b5bf9ffe9306826d4a349e822a3d199fb","image-feature":"detectFaces","lang":"en","x":844.4577331542969,"y":177.53703689575195,"wires":[["ae13fa37.de302","c912bbc8.451f7"]]},{"id":"ae13fa37.de302","type":"debug","z":"e43fb491.367af","name":"","active":true,"console":"false","complete":"true","x":992.5529975891113,"y":92.1799201965332,"wires":[]},{"id":"1b0a2a26.d2e49e","type":"ui_template","z":"e43fb491.367af","group":"a68e6a3b.bad42","name":"Face","order":1,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p><img src={{msg.payload}} alt=\"Image Preview\" style=\"width:480px;height:360px;\">\n\n        \n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1028.6669921875,"y":286.62689208984375,"wires":[[]]},{"id":"68d7b4b.eb7dbcc","type":"http in","z":"e43fb491.367af","name":"","url":"/imagedownload","method":"get","swaggerDoc":"","x":282.9815979003906,"y":1241.821361541748,"wires":[["42cbc1f7.0bede","a40008ee.add83"]]},{"id":"c7c7cab9.209498","type":"dropbox","z":"e43fb491.367af","dropbox":"","filename":"","name":"","x":608.6958923339844,"y":1243.8213005065918,"wires":[["e1bc04f1.be56c8"]]},{"id":"a989ea6b.677198","type":"http response","z":"e43fb491.367af","name":"HTTP Response","x":1020.9815673828125,"y":1243.2498893737793,"wires":[]},{"id":"42cbc1f7.0bede","type":"debug","z":"e43fb491.367af","name":"","active":false,"console":"false","complete":"true","x":462.2673034667969,"y":1281.8213005065918,"wires":[]},{"id":"e1bc04f1.be56c8","type":"function","z":"e43fb491.367af","name":"Set Content-Type header","func":"msg.headers = {\n \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":801.6007080078125,"y":1243.9879875183105,"wires":[["a989ea6b.677198"]]},{"id":"a40008ee.add83","type":"function","z":"e43fb491.367af","name":"file name","func":"msg.filename = msg.payload.image;\nreturn msg;","outputs":1,"noerr":0,"x":467.6006774902344,"y":1242.4879875183105,"wires":[["c7c7cab9.209498"]]},{"id":"3bf8a5ae.83185a","type":"comment","z":"e43fb491.367af","name":"","info":"","x":230.52133560180664,"y":1198.0593016594648,"wires":[]},{"id":"2132fed5.e88b32","type":"function","z":"e43fb491.367af","name":"","func":"msg.payload = \"https://hackathon3.mybluemix.net/imagedownload?image=\" + msg.filename;\nreturn msg;","outputs":1,"noerr":0,"x":661.4815979003906,"y":284.32133865356445,"wires":[["1b0a2a26.d2e49e","31fa67b3.e8fe78"]]},{"id":"cb1a5683.01b7d8","type":"delay","z":"e43fb491.367af","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":495.63153076171875,"y":285.7713508605957,"wires":[["2132fed5.e88b32"]]},{"id":"509705aa.7d622c","type":"dropbox out","z":"e43fb491.367af","dropbox":"","filename":"","localFilename":"","name":"","x":1341.8810729980469,"y":468.3526191711426,"wires":[]},{"id":"c87b8e34.8175c8","type":"ui_template","z":"e43fb491.367af","group":"a68e6a3b.bad42","name":"Cropped","order":2,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p><img src={{msg.payload}} alt=\"Image Preview\">\n\n        \n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":1029.9167175292969,"y":586.9240112304688,"wires":[[]]},{"id":"108e3620.4702ea","type":"debug","z":"e43fb491.367af","name":"","active":false,"console":"false","complete":"true","x":471.41668701171875,"y":367.6382637023926,"wires":[]},{"id":"6f2896b1.f576e8","type":"debug","z":"e43fb491.367af","name":"","active":true,"console":"false","complete":"true","x":1023.9167175292969,"y":655.6739807128906,"wires":[]},{"id":"31fa67b3.e8fe78","type":"debug","z":"e43fb491.367af","name":"","active":false,"console":"false","complete":"true","x":1026.4167175292969,"y":322.6382637023926,"wires":[]},{"id":"c912bbc8.451f7","type":"function","z":"e43fb491.367af","name":"","func":"var filename = \"/Upload/Faces/\" + global.get(\"filename\");\n\nvar left = msg.result.images[0].faces[0].face_location.left;\nvar top = msg.result.images[0].faces[0].face_location.top;\nvar width = msg.result.images[0].faces[0].face_location.width;\nvar height = msg.result.images[0].faces[0].face_location.height;\n\nmsg.left = left;\nmsg.top = top;\nmsg.width = width;\nmsg.height = height;\n\nmsg.payload = \"https://process.filestackapi.com/AhTgLagciQByzXpFGRI0Az/crop=dim:[\" + left +\",\"+ top +\",\"+ width +\",\"+ height + \"]/\" + \"https://hackathon3.mybluemix.net/imagedownload?image=\" + filename; \n\nreturn msg;","outputs":1,"noerr":0,"x":777.1428375244141,"y":459.50731658935547,"wires":[["43771284.a3df04","c87b8e34.8175c8","6f2896b1.f576e8","b4a1495.c43cb38"]]},{"id":"ef8e108e.c3ef98","type":"debug","z":"e43fb491.367af","name":"","active":false,"console":"false","complete":"true","x":1158.4107971191406,"y":520.7752075195312,"wires":[]},{"id":"43771284.a3df04","type":"debug","z":"e43fb491.367af","name":"","active":true,"console":"false","complete":"true","x":922.6964416503906,"y":420.77519607543945,"wires":[]},{"id":"8b54397e.aed72","type":"function","z":"e43fb491.367af","name":"","func":"var newMsg = {};\nnewMsg.payload = msg.payload;\nnewMsg.filename = \"/Upload/Faces/Cropped/\" + global.get(\"filename\") + \".jpg\";\nreturn newMsg;","outputs":1,"noerr":0,"x":1157.3869323730469,"y":466.0370674133301,"wires":[["509705aa.7d622c"]]},{"id":"b4a1495.c43cb38","type":"http request","z":"e43fb491.367af","name":"","method":"GET","ret":"txt","url":"","x":944.8213806152344,"y":462.1620788574219,"wires":[["ef8e108e.c3ef98","8b54397e.aed72"]]},{"id":"bec27956.903d3","type":"ui_gauge","z":"e43fb491.367af","name":"Confidence","group":"b468a0f1.c149","order":3,"width":0,"height":0,"gtype":"donut","title":"Confidence","label":"%","format":"{{value  | number:2}}%","min":0,"max":"100","colors":["#ff0000","#ffff00","#00f000"],"x":1386.3153991699219,"y":774.6799201965332,"wires":[]},{"id":"68651e7a.c395e","type":"ui_text","z":"e43fb491.367af","group":"b468a0f1.c149","order":2,"width":0,"height":0,"name":"","label":"Class","format":"{{msg.payload}}","layout":"row-spread","x":1365.2044296264648,"y":739.1243743896484,"wires":[]},{"id":"7d96425b.8d357c","type":"ui_text","z":"e43fb491.367af","group":"b468a0f1.c149","order":1,"width":0,"height":0,"name":"","label":"Image File: ","format":"{{msg.filename}}","layout":"row-spread","x":658.9490661621094,"y":118.90864944458008,"wires":[]},{"id":"4f284dd1.bc3bf4","type":"function","z":"e43fb491.367af","name":"Result","func":"if(msg.result.images[0].classifiers[0]) {\nreturn  [   {payload:msg.result.images[0].classifiers[0].classifier_id},\n            {payload:msg.result.images[0].classifiers[0].classes[0].score * 100}\n        ]\n} else {\n    return  [   {payload:\"none\"},\n                {payload:0}\n            ]\n}","outputs":"2","noerr":0,"x":1187.7441101074219,"y":761.8228187561035,"wires":[["68651e7a.c395e"],["bec27956.903d3"]]},{"id":"474b887d.80591","type":"function","z":"e43fb491.367af","name":"Classify","func":"msg.params={};\nmsg.params[\"owners\"]=\"me\";\nmsg.params[\"classifier_ids\"]=\"markus_2041955155\";\n\nreturn msg;","outputs":1,"noerr":0,"x":847.7441711425781,"y":713.2513313293457,"wires":[["21598160.cde69e"]]},{"id":"21598160.cde69e","type":"visual-recognition-v3","z":"e43fb491.367af","name":"","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":959.4346008300781,"y":786.1244087219238,"wires":[["4f284dd1.bc3bf4","980f8d7b.78f628"]]},{"id":"980f8d7b.78f628","type":"debug","z":"e43fb491.367af","name":"","active":true,"console":"false","complete":"result","x":1210.0208435058594,"y":806.2424201965332,"wires":[]},{"id":"a68e6a3b.bad42","type":"ui_group","z":"","name":"Detected","tab":"7a8f65d0.c80a6c","order":1,"disp":true,"width":"6"},{"id":"b468a0f1.c149","type":"ui_group","z":"","name":"Classifier Info","tab":"7a8f65d0.c80a6c","order":2,"disp":true,"width":"6"},{"id":"7a8f65d0.c80a6c","type":"ui_tab","z":"","name":"Faces","icon":"dashboard","order":3}]
