VideoTranscription
[{"id":"e5e4e377.08d7e","type":"change","z":"3a94384a.662a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":347,"y":185,"wires":[["10cc7c5c.d703f4"]]},{"id":"8307248.aedfdd8","type":"watson-speech-to-text","z":"3a94384a.662a28","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":766,"y":387,"wires":[["48dac661.abf8a8"]]},{"id":"48dac661.abf8a8","type":"change","z":"3a94384a.662a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":947,"y":387,"wires":[["a63c60fa.40a89"]]},{"id":"72dd4c5b.b88244","type":"link in","z":"3a94384a.662a28","name":"","links":["a63c60fa.40a89"],"x":523,"y":436,"wires":[["d7872729.558718"]]},{"id":"a63c60fa.40a89","type":"link out","z":"3a94384a.662a28","name":"","links":["72dd4c5b.b88244"],"x":1070,"y":387,"wires":[]},{"id":"a9562aea.a35498","type":"debug","z":"3a94384a.662a28","name":"","active":false,"console":"false","complete":"false","x":844,"y":436,"wires":[]},{"id":"d7872729.558718","type":"function","z":"3a94384a.662a28","name":"append to global","func":"var transcription = [];\n\nif (global.get(\"transcription\")) {\n    transcription = global.get(\"transcription\");\n}\n\ntranscription.push({\n    text: msg.payload,\n    start: msg.timesplit[0],\n    end: msg.timesplit[1]\n});\n\nglobal.set(\"transcription\", transcription); \nreturn msg;","outputs":1,"noerr":0,"x":659,"y":436,"wires":[["a9562aea.a35498"]]},{"id":"d3b85381.d944b","type":"http in","z":"3a94384a.662a28","name":"","url":"/transcription","method":"get","swaggerDoc":"","x":154,"y":185,"wires":[["e5e4e377.08d7e"]]},{"id":"10cc7c5c.d703f4","type":"http response","z":"3a94384a.662a28","name":"","x":604,"y":185,"wires":[]},{"id":"3f93692a.2118c6","type":"http response","z":"3a94384a.662a28","name":"","x":477,"y":262,"wires":[]},{"id":"2f1df360.569c1c","type":"http in","z":"3a94384a.662a28","name":"","url":"/transcribe","method":"post","swaggerDoc":"","x":145,"y":262,"wires":[["c7d88d44.b187"]]},{"id":"c7d88d44.b187","type":"change","z":"3a94384a.662a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":262,"wires":[["3f93692a.2118c6","f8adecc2.70545"]]},{"id":"f8adecc2.70545","type":"ffmpeg-conversion","z":"3a94384a.662a28","name":"","format":"wav","x":517,"y":300,"wires":[["b05d8f0a.c2b42"]]},{"id":"b05d8f0a.c2b42","type":"ffmpeg-silence-detect","z":"3a94384a.662a28","name":"","noise":0.008,"duration":0.8,"x":517,"y":345,"wires":[["5deb6a7a.129054"]]},{"id":"d481ae4b.063b7","type":"ffmpeg-segment","z":"3a94384a.662a28","name":"","timeout":true,"x":586.5,"y":387,"wires":[["8307248.aedfdd8"]]},{"id":"5deb6a7a.129054","type":"function","z":"3a94384a.662a28","name":"average","func":"msg.times = [];\n\nfor (var i = 0; i < msg.silences.length; ++i) {\n    var s = msg.silences[i];\n    msg.times.push((s[1] - s[0]) / 2 + s[0]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":424.5,"y":387,"wires":[["d481ae4b.063b7"]]},{"id":"c4b4bc88.d0187","type":"http in","z":"3a94384a.662a28","name":"","url":"/tv","method":"get","swaggerDoc":"","x":114,"y":109,"wires":[["e49d3090.f859f"]]},{"id":"f2321715.964be8","type":"http response","z":"3a94384a.662a28","name":"","x":642,"y":109,"wires":[]},{"id":"e49d3090.f859f","type":"http request","z":"3a94384a.662a28","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/ibm-early-programs/watson-tv/master/tv.html","tls":"","x":257.5,"y":109,"wires":[["abdb7292.32386"]]},{"id":"abdb7292.32386","type":"change","z":"3a94384a.662a28","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":441.5,"y":109,"wires":[["f2321715.964be8"]]},{"id":"4be85b00.8c7204","type":"comment","z":"3a94384a.662a28","name":"Get UI from Github","info":"","x":154,"y":72,"wires":[]},{"id":"70c16ba6.961be4","type":"comment","z":"3a94384a.662a28","name":"Get global context for latest translations","info":"","x":214,"y":149,"wires":[]},{"id":"886a2ec0.70a18","type":"comment","z":"3a94384a.662a28","name":"UI posts URL to perform ffmpeg functions","info":"","x":225,"y":225,"wires":[]},{"id":"657045c5.c3abac","type":"http in","z":"3a94384a.662a28","name":"","url":"/tv","method":"get","swaggerDoc":"","x":124,"y":600,"wires":[["72472da9.ab9094"]]},{"id":"db378f5.3afc47","type":"http response","z":"3a94384a.662a28","name":"","x":618,"y":600,"wires":[]},{"id":"72472da9.ab9094","type":"http request","z":"3a94384a.662a28","name":"","method":"GET","ret":"txt","url":"https://raw.githubusercontent.com/ibm-early-programs/watson-tv/master/tv.html","tls":"","x":267.5,"y":600,"wires":[["67afeda6.e08474"]]},{"id":"1b9e9c91.e78bb3","type":"watson-speech-to-text","z":"3a94384a.662a28","name":"","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":989,"y":883,"wires":[["ac8c7ffe.f1ca"]]},{"id":"ac8c7ffe.f1ca","type":"change","z":"3a94384a.662a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1198,"y":883,"wires":[["4e25b4f6.fd482c"]]},{"id":"cfe3a277.45656","type":"link in","z":"3a94384a.662a28","name":"","links":["4e25b4f6.fd482c"],"x":119,"y":984,"wires":[["d0106c0b.f6ddd"]]},{"id":"4e25b4f6.fd482c","type":"link out","z":"3a94384a.662a28","name":"","links":["cfe3a277.45656"],"x":1350,"y":883,"wires":[]},{"id":"3dfe8f84.06d9e","type":"debug","z":"3a94384a.662a28","name":"","active":false,"console":"false","complete":"false","x":662,"y":984,"wires":[]},{"id":"39fc305a.d3cf9","type":"function","z":"3a94384a.662a28","name":"append to global","func":"var translation = [];\n\nif (global.get(\"translation\")) {\n    translation = global.get(\"translation\");\n}\n\ntranslation.push({\n    text: msg.payload,\n    start: msg.timesplit[0],\n    end: msg.timesplit[1]\n});\n\nglobal.set(\"translation\", translation); \nreturn msg;","outputs":1,"noerr":0,"x":477,"y":984,"wires":[["3dfe8f84.06d9e"]]},{"id":"353f1c96.6e8894","type":"http in","z":"3a94384a.662a28","name":"","url":"/translation","method":"get","swaggerDoc":"","x":153,"y":678,"wires":[["d6380b5e.c52c98"]]},{"id":"3dcf8e9b.cdfd32","type":"http response","z":"3a94384a.662a28","name":"","x":541,"y":678,"wires":[]},{"id":"d6380b5e.c52c98","type":"change","z":"3a94384a.662a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"translation","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":678,"wires":[["3dcf8e9b.cdfd32","290e8d37.de9b32"]]},{"id":"b63833b4.b3de2","type":"http response","z":"3a94384a.662a28","name":"","x":544,"y":759,"wires":[]},{"id":"cc7471dd.cfd98","type":"http in","z":"3a94384a.662a28","name":"","url":"/translate","method":"post","swaggerDoc":"","x":153,"y":758,"wires":[["e3b80ba3.50b388"]]},{"id":"e3b80ba3.50b388","type":"change","z":"3a94384a.662a28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":332,"y":758,"wires":[["b63833b4.b3de2","5ee828db.164518","34839264.78330e"]]},{"id":"67afeda6.e08474","type":"change","z":"3a94384a.662a28","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":451.5,"y":600,"wires":[["db378f5.3afc47"]]},{"id":"34839264.78330e","type":"ffmpeg-conversion","z":"3a94384a.662a28","name":"","format":"wav","x":582,"y":801,"wires":[["8d975979.865bd8"]]},{"id":"8d975979.865bd8","type":"ffmpeg-silence-detect","z":"3a94384a.662a28","name":"","noise":0.008,"duration":0.8,"x":813,"y":801,"wires":[["3e654628.dece8a"]]},{"id":"b7a8fb40.eee208","type":"ffmpeg-segment","z":"3a94384a.662a28","name":"","timeout":true,"x":787.5,"y":883,"wires":[["1b9e9c91.e78bb3"]]},{"id":"3e654628.dece8a","type":"function","z":"3a94384a.662a28","name":"average","func":"msg.times = [];\n\nfor (var i = 0; i < msg.silences.length; ++i) {\n    var s = msg.silences[i];\n    msg.times.push((s[1] - s[0]) / 2 + s[0]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":608.5,"y":883,"wires":[["b7a8fb40.eee208"]]},{"id":"42f57f44.59a0e","type":"comment","z":"3a94384a.662a28","name":"Get UI from Github","info":"","x":163.5,"y":562,"wires":[]},{"id":"8c4959ae.d1d898","type":"comment","z":"3a94384a.662a28","name":"Get global context for latest translations","info":"","x":222.5,"y":640,"wires":[]},{"id":"bf5ee0e6.1ac01","type":"comment","z":"3a94384a.662a28","name":"UI posts URL to perform ffmpeg functions","info":"","x":233,"y":720,"wires":[]},{"id":"d0106c0b.f6ddd","type":"watson-translator","z":"3a94384a.662a28","name":"","action":"translate","basemodel":"ar-en","domain":"conversational","srclang":"en","destlang":"es","password":"","custom":"","domainhidden":"conversational","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":260,"y":984,"wires":[["39fc305a.d3cf9"]]},{"id":"290e8d37.de9b32","type":"debug","z":"3a94384a.662a28","name":"Translation Set","active":true,"console":"false","complete":"payload","x":573,"y":640,"wires":[]},{"id":"5ee828db.164518","type":"debug","z":"3a94384a.662a28","name":"Translation Requested","active":true,"console":"false","complete":"payload","x":592,"y":719,"wires":[]}]
